<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>1001648136,Mani,Swati Sriram</h1>
 <a href="\enternew">Upload</a>
<a href="\display">List the table values</a><br><br>
<a href="\formfill">Lat and lon value and dist</a><br><br>
 <a href="\select_count">magnitude>than</a><br><br>
  <a href="\select_between">magnitude between a range</a><br><br>
 <a href="\select_between_dates">magnitude and dates between a range</a><br><br>
 <a href="\formenter">question 6</a><br><br>
 <a href="\formadd">Question 7 &8</a><br><br>
<a href="\clustering">find cluster</a><br><br>
<a href="\barplot">find bar chart</a><br><br>
<a href="\pieplot">find pie chart</a><br><br>
<a href="\plothist">find Histogram</a><br><br>
<a href="\plot_line">find Line Chart</a><br><br>
<a href="\delete">Delete the entire cache</a><br><br>

</body>
</html>