<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
 <a href="\enternew">Upload</a>
<a href="\display">List the table values</a><br><br>
<a href="\formfill">Lat and lon value</a><br><br>
 <a href="\select">magnitude>than</a><br><br>
  <a href="\select_lat">Select between latitude longitude and a dist</a><br><br>
  <a href="\select_between">magnitude between a range</a><br><br>
 <a href="\select_between_dates">magnitude and dates between a range</a><br><br>
<a href="\clustering">find cluster</a>
<a href="\delete">Delete the entire cache</a>
</body>
</html>