<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table display</title>
</head>
<body>
<h1 style="color:blue">Swati Sriram Mani, 8136 </h1>
<table border="1">
 <!-- {% for r in data%}
    <tr>
        <td>{{r["StateName"]}}</td>
        <td>{{r["latitude"]}}</td>
        <td>{{r["longitude"]}}</td>
        <td>{{r["depth"]}}</td>
        <td>{{r["mag"]}}</td>
        <td>{{r["magType"]}}</td>
        <td>{{r["nst"]}}</td>
        <td>{{r["gap"]}}</td>
        <td>{{r["dmin"]}}</td>
        <td>{{r["rms"]}}</td>
        <td>{{r["net"]}}</td>
        <td>{{r["id"]}}</td>
        <td>{{r["updated"]}}</td>
        <td>{{r["place"]}}</td>
        <td>{{r["type"]}}</td>
        <td>{{r["horizontal"]}}</td>
        <td>{{r["depthError"]}}</td>
        <td>{{r["magError"]}}</td>
        <td>{{r["magNst"]}}</td>
        <td>{{r["status"]}}</td>
        <td>{{r["locationSource"]}}</td>
        <td>{{r["magSource"]}}</td>

    </tr>
    {%endfor%}-->
    <table border="1"><tr><td>States between 2 and 8 million{{data}}</td></tr></table>
    <table border="1"><tr><td>States between 8 and 40 {{data1}}</td></tr></table>
</body>
</html>